* {
  box-sizing: border-box;
}
body {
  padding: 20px;
}
h2 {
  display: flex;
  justify-content: center;
  align-items: center;
}
form {
  display: inline-block;
}
textarea {
  display: flex;
  width: 250px;
  height: 80px;
  padding: 8px;
  resize: none;
  align-items: center;
  justify-content: center;
}
.card {
  margin-top: 20px;
  padding: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ccc;
  background-color: #ccc;
  border-radius: 4px;
  box-shadow: 10px 5px 5px #aaa;
}
.form > * {
  margin: 0 20px;
}
.form.error {
  background-color: #ce7070;
  border-color: red;
  box-shadow: 10px 5px 5px red;
}
.error-msg {
  margin-top: 32px;
  color: red;
  display: none;
  justify-content: center;
  align-items: center;
}
.item__number {
  flex-basis: 3%;
}
.item__guid {
  flex-basis: 27%;
}
.item__icon {
  flex-basis: 3%;
  padding: 12px 4px;
}
.item__name {
  flex-basis: 20%;
}
.item__type {
  flex-basis: 7%;
}
.item__size {
  flex-basis: 5%;
}
.item__description {
  flex-basis: 20%;
}
.item__hash {
  flex-basis: 15%;
}
.row {
  padding: 0;
  height: 60px;
  width: 100%;
  justify-content: space-between;
  font-size: 12px;
}
.row > * {
  padding: 12px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  flex-grow: 1;
}
.row > *:not(.row > *:first-child) {
  border-left: 1px solid #555;
}
.uploads {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.uploads__item {
  transition: 0.3s;
  cursor: pointer;
}
.uploads__item:hover {
  box-shadow: 20px 10px 10px #aaa;
}
.uploads__item .item__icon img {
  max-width: 100%;
  max-height: 100%;
}
.editor {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.editor .editor__close-btn {
  cursor: pointer;
  font-size: 36px;
  position: absolute;
  top: 20px;
  right: 30px;
}
.editor .editor__close-btn:hover {
  opacity: 0.5;
}
.editor .editor__field {
  width: 100%;
  display: flex;
  align-items: center;
}
.editor .editor__field h4 {
  margin-right: 20px;
}
@media screen and (max-width: 992px) {
  .uploads .uploads__item .item__guid,
  .header .item__guid,
  .uploads .uploads__item .item__description,
  .header .item__description {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .uploads .uploads__item .item__type,
  .header .item__type,
  .uploads .uploads__item .item__size,
  .header .item__size {
    display: none;
  }
}
